/**
 * Component Diagram settings.
 */

// =============================================================================
// Diagram settings
// =============================================================================

// Set diagram colors.
$diagram-colors: (
    primary: #2979ff,
    secondary: #00c853,
    tertiary: #666,
);

// Set diagram font size.
$diagram-font-size: 1rem;

// Set diagram line height ratio.
$diagram-line-height-ratio: 1.5;

// Set diagram gutter.
$diagram-gutter: 100px;

// Set diagram cell size.
$diagram-cell-size: calc((100% - 2 * #{$diagram-gutter}) / 3);

/**
 * Diagram list.
 */

// Set diagram list item animation duration.
$diagram-list-item-animation-duration: 0.6s;

// Set diagram list item animation delay.
$diagram-list-item-animation-delay: 1s;

// Set diagram list border size.
$diagram-list-border-size: 2px;

// Set diagram list gutter;
$diagram-list-gutter: 8px;

// Set diagram list item border size.
$diagram-list-item-border-size: 1px;

// Set diagram list item color.
$diagram-list-item-color: $base-color;

// Set diagram list item indent;
$diagram-list-item-indent: 8px;

// Set diagram list item figure size;
$diagram-list-item-figure-size: 1.5em;

/**
 * Diagram arrow.
 */

// Set diagram arrow animation duration.
$diagram-arrow-animation-duration: 0.6s;
// $diagram-arrow-animation-duration: 0.2s;

// Set diagram arrow animation delay.
$diagram-arrow-animation-delay: 1s;
// $diagram-arrow-animation-delay: 0s;

// Set diagram arrow height.
$diagram-arrow-height: 8px;

// Set diagram arrow width.
$diagram-arrow-width: $diagram-gutter;
