/**
 * Component Diagram.
 */

// =============================================================================
// Diagram
// =============================================================================

.dia {
    display: flex;
    flex-direction: column;
    font-size: $diagram-font-size;
    line-height: $diagram-line-height-ratio;
    min-width: 440px;
    width: 100%;

    @media (min-width: nth($diagram-breaks, 1)) {
        flex-direction: row;
    }
}

// =============================================================================
// Subcomponents
// =============================================================================

// Diagram cell
// =============================================================================

.dia__cell {
    text-align: center;

    & + & {
        margin-top: calc(
            #{$diagram-gutter} -
            1rem * #{$diagram-line-height-ratio} -
            2 * #{$diagram-list-gutter}
        );
    }

    @media (min-width: nth($diagram-breaks, 1)) {
        text-align: left;
        width: $diagram-cell-size;

        &:not(.\--primary) {
            padding-top: $base-line-height +
                $diagram-list-gutter +
                2 * ($diagram-list-item-border-size + $diagram-list-item-indent);
        }

        & + & {
            margin: {
                left: $diagram-gutter;
                top: 0;
            }
        }
    }
}

/**
 * Modifiers.
 */

/**
 * Diagram cell, primary.
 *
 * 1. Safari SVG fragment indentifiers bug workaround.
 *  @see https://caniuse.com/#feat=svg-fragment
 */

.dia__cell {
    &.\--primary {
        color: map-get($diagram-colors, primary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, primary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, primary);
            justify-content: flex-end;

            &::after {
                background: {                               /* 1 */
                    image: url("../images/acronym.svg");
                    size: 100% 400%;
                }
            }

            &:not([id="creditors"])::after {
                animation-delay:
                    $diagram-list-animation-delay +
                    4 * $diagram-list-item-content-animation-duration +
                    3 * $diagram-list-item-figure-animation-duration +
                    5 * $diagram-arrow-animation-duration,
                    $diagram-list-animation-delay +
                    4 * $diagram-list-item-content-animation-duration +
                    3 * $diagram-list-item-figure-animation-duration +
                    5 * $diagram-arrow-animation-duration;
            }

            @media (min-width: nth($diagram-breaks, 1)) {
                justify-content: space-between;
            }
        }
        .dia__list__item__content {
            animation-delay:
                $diagram-list-animation-delay;
        }
    }
}

/**
 * Diagram cell, secondary.
 */

.dia__cell {
    &.\--secondary {
        color: map-get($diagram-colors, secondary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, secondary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, secondary);
        }
        .dia__list__item__content {
            opacity: 0;
        }
    }
}

/**
 * Diagram cell, tertiary.
 */

.dia__cell {
    &.\--tertiary {
        color: map-get($diagram-colors, tertiary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, tertiary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, tertiary);
        }
        .dia__list__item__content {
            opacity: 0;
        }
    }
}

// Diagram cell header
// =============================================================================

.dia__cell__head {
    font: {
        size: 1rem;
        weight: 500;
    }
    margin: 0;
    overflow: hidden;
    padding: $diagram-list-gutter;
    text: {
        align: center;
        overflow: ellipsis;
        transform: uppercase;
    }
    white-space: nowrap;
}

// Diagram cell header inset
// =============================================================================

.dia__cell__head__inset {
    background-color: rgba(#fff, 0.75);
    padding: 0 5px;
    position: relative;
    z-index: 1;
}

// Diagram list
// =============================================================================

.dia__list {
    border: $diagram-list-border-size solid currentColor;
    border-radius: 4px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: $diagram-list-gutter;

    @media (min-width: nth($diagram-breaks, 1)) {
        display: block;
    }
}

// Diagram list item
// =============================================================================

// Calculate diagram list item spacing.
$diagram-list-item-spacing: (unit-convert(1rem, "px") * $diagram-line-height-ratio)
    + 2 * $diagram-list-item-indent
    + $diagram-list-gutter
    + $diagram-list-border-size
    + $diagram-list-item-border-size;

// Calculate diagram list item angle.
$diagram-list-item-angle: ();

@for $i from 1 through 2 {
    $diagram-list-item-angle: append(
        $diagram-list-item-angle,
        atan($i * $diagram-list-item-spacing / $diagram-arrow-width)
    );
}


.dia__list__item {
    align-items: center;
    background: #fff;
    border: $diagram-list-item-border-size solid currentColor;
    border-radius: 3px;
    color: $diagram-list-item-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: $diagram-list-item-indent;
    position: relative;

    &::after {
        @extend %dia__list__item__figure;

        content: "";
        opacity: 0;
    }

    & + & {
        margin-left: $diagram-list-gutter;
    }

    @media (min-width: nth($diagram-breaks, 1)) {
        flex-direction: row;

        & + & {
            margin: {
                left: 0;
                top: $diagram-list-gutter;
            }
        }
    }
}

/**
 * Modifiers.
 */

/**
 * Diagram list item, ids.
 *
 */

.dia__list__item {
    &[id] {
        &::after {
            animation: {
                name: fade--in, pop--in;
                duration:
                    $diagram-list-item-figure-animation-duration,
                    $diagram-list-item-figure-animation-duration;
                fill-mode: both, both;
            }
        }
        .dia__list__item__content {
            animation: {
                name: fade--in;
                duration:
                    $diagram-list-item-content-animation-duration;
                fill-mode: both, both;;
            }
        }
        %dia__arrow__body {
            animation: {
                name: fade--in, slide--left-reverse;
                duration:
                    $diagram-arrow-animation-duration,
                    $diagram-arrow-animation-duration;
                fill-mode: both, both;
                timin-function:
                    map-get($animation-easing, in-out-circ),
                    map-get($animation-easing, in-out-circ);
            }
        }
    }

    &[id="creditors"],
    &[id="debtors"] {
        &::after {
            margin-left: -1.5em;
        }

        @media (min-width: nth($diagram-breaks, 1)) {
            margin-left: 0;
        }
    }

    &[id="creditors"],
    &[id="payments"] {
        .dia__arrow {
            bottom: (-1) * (
                $diagram-arrow-height +
                $diagram-list-gutter +
                $diagram-list-border-size
            );
            transform: rotate(90deg);
            transform-origin: 0 0;

            @media (min-width: nth($diagram-breaks, 1)) {
                right: (-1) * (
                    $diagram-arrow-width +
                    $diagram-list-gutter +
                    $diagram-list-border-size
                );
                transform: none;
                transform-origin: 50% 50%;
            }
        }
    }

    /**
     * 1. Safari SVG fragment indentifiers bug workaround.
     *  @see https://caniuse.com/#feat=svg-fragment
     */

    &[id="payments"],
    &[id="statements"] {
        %dia__arrow__body {
            background: {
                // image: url("../images/arrow.svg#secondary");
                position-y: -8px;  /* 1 */
            }
        }
    }

    &[id="bank-interface"],
    &[id="statements"] {
        .dia__arrow {
            margin-bottom: 50%;
            top: (-1) * (
                $diagram-arrow-height +
                $diagram-list-gutter +
                $diagram-list-border-size
            );
            transform: rotate(-90deg);
            transform-origin: 0 100%;

            @media (min-width: nth($diagram-breaks, 1)) {
                left: (-1) * ($diagram-list-gutter + $diagram-list-border-size);
                top: 50%;
                transform-origin: 0 50%;
            }
        }
    }
}

/**
 * Diagram list item, creditors.
 *
 * 1. Safari SVG fragment indentifiers bug workaround.
 *  @see https://caniuse.com/#feat=svg-fragment
 */

.dia__list__item {
    &[id="creditors"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay +
                0.25 * $diagram-list-item-content-animation-duration,
                $diagram-list-animation-delay +
                0.25 * $diagram-list-item-content-animation-duration;
            // background-image: url("../images/acronym.svg#creditors");
            background: {
                position: 0 -25px; /* 1 */
            }
        }
        .dia__arrow {
            left: 50%;
        }
        %dia__arrow__body {
            animation-delay:
                $diagram-list-animation-delay +
                $diagram-list-item-content-animation-duration +
                $diagram-list-item-figure-animation-duration,
                $diagram-list-animation-delay +
                $diagram-list-item-content-animation-duration +
                $diagram-list-item-figure-animation-duration;
            background: {
                // image: url("../images/arrow.svg#primary");
                position-y: 0;  /* 1 */
            }
        }
    }
}

/**
 * Diagram list item, accounts.
 */

.dia__list__item {
    &[id="accounts"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay + 5 * $diagram-list-item-figure-animation-delay,
                $diagram-list-animation-delay + 5 * $diagram-list-item-figure-animation-delay;
            background-image: url("../images/acronym.svg#accounts");
            background: {
                position: 0 -50px; /* 1 */
            }
        }
    }
}

/**
 * Diagram list item, charges.
 */

.dia__list__item {
    &[id="charges"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay + 5 * $diagram-list-item-figure-animation-delay,
                $diagram-list-animation-delay + 5 * $diagram-list-item-figure-animation-delay;
            background-image: url("../images/acronym.svg#charges");
            background: {
                position: 0 -75px; /* 1 */
            }
        }
    }
}

/**
 * Diagram list item, debtors.
 *
 * 1. Safari SVG fragment indentifiers bug workaround.
 *  @see https://caniuse.com/#feat=svg-fragment
 */

.dia__list__item {
    &[id="debtors"] {
        &::after {
            animation-delay:
                5 * $diagram-list-item-figure-animation-delay,
                5 * $diagram-list-item-figure-animation-delay;
            // background-image: url("../images/acronym.svg#debtors");
            background: {
                position: 0 0; /* 1 */
            }
        }
    }
}

/**
 * Diagram list item, payments.
 */

.dia__list__item {
    &[id="payments"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay +
                1.25 * $diagram-list-item-content-animation-duration +
                $diagram-list-item-figure-animation-duration +
                $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                1.25 * $diagram-list-item-content-animation-duration +
                $diagram-list-item-figure-animation-duration +
                $diagram-arrow-animation-duration;
            background: {
                image: url("../images/ico-payments.svg");
                size: auto 80%;
            }
        }
        .dia__list__item__content {
            animation-delay:
                $diagram-list-animation-delay +
                $diagram-list-item-content-animation-duration +
                $diagram-list-item-figure-animation-duration +
                $diagram-arrow-animation-duration;
        }
        %dia__arrow__body {
            animation-delay:
                $diagram-list-animation-delay +
                2 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                2 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                $diagram-arrow-animation-duration;
        }
    }
}

/**
 * Diagram list item, bank interface.
 */

.dia__list__item {
    &[id="bank-interface"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay +
                2.25 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                2 * $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                2.25 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                2 * $diagram-arrow-animation-duration;
            background-image: url("../images/ico-bank-interface.svg");
        }
        .dia__list__item__content {
            animation-delay:
                $diagram-list-animation-delay +
                2 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                2 * $diagram-arrow-animation-duration;
        }
        .dia__arrow {
            left: 75%;

            @media (min-width: nth($diagram-breaks, 1)) {
                left: (-1) * ($diagram-list-gutter + $diagram-list-border-size);

                transform:
                    rotate(
                        180deg -
                        rad-to-deg(nth($diagram-list-item-angle, 1))
                    )
                    scaleX(
                        ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                        $diagram-arrow-width
                    );
            }
        }

        /**
         * 1. Safari SVG fragment indentifiers bug workaround.
         *  @see https://caniuse.com/#feat=svg-fragment
         */

        %dia__arrow__body {
            animation-delay:
                $diagram-list-animation-delay +
                3 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                3 * $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                3 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                3 * $diagram-arrow-animation-duration;
            background: {
                // image: url("../images/arrow.svg#tertiary");
                position-y: -16px;  /* 1 */
            }
        }
    }
}

/**
 * Diagram list item, statements.
 */

.dia__list__item {
    &[id="statements"] {
        &::after {
            animation-delay:
                $diagram-list-animation-delay +
                3.25 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                4 * $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                3.25 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                4 * $diagram-arrow-animation-duration;
            background-image: url("../images/ico-statements.svg");
        }
        .dia__list__item__content {
            animation-delay:
                $diagram-list-animation-delay +
                3 * $diagram-list-item-content-animation-duration +
                2 * $diagram-list-item-figure-animation-duration +
                4 * $diagram-arrow-animation-duration;
        }
        .dia__arrow {
            display: none;

            @media (min-width: nth($diagram-breaks, 1)) {
                display: block;
            }

            &:nth-of-type(1) {
                display: block;
                left: 20%;

                @media (min-width: nth($diagram-breaks, 1)) {
                    left: (-1) * ($diagram-list-gutter + $diagram-list-border-size);

                    transform:
                        rotate(
                            180deg +
                            rad-to-deg(nth($diagram-list-item-angle, 2))
                        )
                        scaleX(
                            (2 * $diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 2))) /
                            $diagram-arrow-width
                        );
                }
            }
            &:nth-of-type(2) {
                @media (min-width: nth($diagram-breaks, 1)) {
                    transform:
                        rotate(
                            180deg +
                            rad-to-deg(nth($diagram-list-item-angle, 1))
                        )
                        scaleX(
                            ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                            $diagram-arrow-width
                        );
                }
            }
            &:nth-of-type(3) {
                @media (min-width: nth($diagram-breaks, 1)) {
                    transform: rotate(180deg);
                }

            }
            &:nth-of-type(4) {
                @media (min-width: nth($diagram-breaks, 1)) {
                    transform:
                        rotate(
                            180deg -
                            rad-to-deg(nth($diagram-list-item-angle, 1))
                        )
                        scaleX(
                            ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                            $diagram-arrow-width
                        );
                }
            }
        }
        %dia__arrow__body {
            animation-delay:
                $diagram-list-animation-delay +
                4 * $diagram-list-item-content-animation-duration +
                3 * $diagram-list-item-figure-animation-duration +
                4 * $diagram-arrow-animation-duration,
                $diagram-list-animation-delay +
                4 * $diagram-list-item-content-animation-duration +
                3 * $diagram-list-item-figure-animation-duration +
                4 * $diagram-arrow-animation-duration;
        }
    }
}

// Diagram list item figure
// =============================================================================

%dia__list__item__figure {
    @include size(
        $diagram-list-item-figure-width,
        $diagram-list-item-figure-height
    );

    background: center no-repeat;
    background-size: contain;
    display: flex;
    flex: 0 0 auto;
    margin-top: $diagram-list-gutter;

    @media (min-width: nth($diagram-breaks, 1)) {
        background-position: right center;
        margin-top: 0;
    }
}

// Diagram arrow
// =============================================================================

.dia__arrow {
    @include acceleration;
    @include size(
        $diagram-arrow-width,
        $diagram-arrow-height
    );

    left: 50%;
    overflow: hidden;
    position: absolute;

    &::after {
        @extend %dia__arrow__body;
        content: "";
    }

    @media (min-width: nth($diagram-breaks, 1)) {
        margin: {
            left: auto;
            top: -0.5 * $diagram-arrow-height;
        }
        top: 50%;
    }
}

// Diagram arrow body
// =============================================================================

/**
 * 1. Safari SVG fragment indentifiers bug workaround.
 *  @see https://caniuse.com/#feat=svg-fragment
 */

%dia__arrow__body {
    background: {
        image: url("../images/arrow.svg");  /* 1 */
        position: right 0;
        repeat: no-repeat;
        size: auto 300%;    /* 1 */
    }
    display: block;
    height: $diagram-arrow-height;
}
