/**
 * Component Diagram.
 */

// =============================================================================
// Diagram
// =============================================================================

.dia {
    display: flex;
    font-size: $diagram-font-size;
    line-height: $diagram-line-height-ratio;
    width: 100%;
}

// =============================================================================
// Subcomponents
// =============================================================================

// Diagram cell
// =============================================================================

.dia__cell {
    width: $diagram-cell-size;

    &:not(.\--primary) {
        padding-top: $base-line-height +
            $diagram-list-gutter +
            2 * ($diagram-list-item-border-size + $diagram-list-item-indent);
    }

    & + & {
        margin-left: $diagram-gutter;
    }
}

/**
 * Modifiers.
 */

/**
 * Diagram cell, primary.
 */

.dia__cell {
    &.\--primary {
        color: map-get($diagram-colors, primary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, primary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, primary);
        }
    }
}

/**
 * Diagram cell, secondary.
 */

.dia__cell {
    &.\--secondary {
        color: map-get($diagram-colors, secondary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, secondary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, secondary);
        }
    }
}

/**
 * Diagram cell, tertiary.
 */

.dia__cell {
    &.\--tertiary {
        color: map-get($diagram-colors, tertiary);

        .dia__list {
            background-color: rgba(map-get($diagram-colors, tertiary), 0.25);
        }
        .dia__list__item {
            border-color: map-get($diagram-colors, tertiary);
        }
    }
}

// Diagram cell header
// =============================================================================

.dia__cell__head {
    font: {
        size: 1rem;
        weight: 500;
    }
    margin: 0;
    overflow: hidden;
    padding: $diagram-list-gutter;
    text: {
        align: center;
        overflow: ellipsis;
        transform: uppercase;
    }
    white-space: nowrap;
}

// Diagram list
// =============================================================================

.dia__list {
    border: $diagram-list-border-size solid currentColor;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: $diagram-list-gutter;
}

// Diagram list item
// =============================================================================

// Calculate diagram list item spacing.
$diagram-list-item-spacing: (unit-convert(1rem, "px") * $diagram-line-height-ratio)
    + 2 * $diagram-list-item-indent
    + $diagram-list-gutter
    + $diagram-list-border-size
    + $diagram-list-item-border-size;

// Calculate diagram list item angle.
$diagram-list-item-angle: ();

@for $i from 1 through 2 {
    $diagram-list-item-angle: append(
        $diagram-list-item-angle,
        atan($i * $diagram-list-item-spacing / $diagram-arrow-width)
    );
}


.dia__list__item {
    background: #fff;
    border: $diagram-list-item-border-size solid currentColor;
    border-radius: 3px;
    color: $diagram-list-item-color;
    padding: $diagram-list-item-indent;
    position: relative;

    & + & {
        margin-top: $diagram-list-gutter;
    }

    &[id] {
        %dia__arrow__body {
            animation: {
                name: fade--in, slide--left-reverse;
                duration: $diagram-arrow-animation-duration, $diagram-arrow-animation-duration;
                fill-mode: both, both;
            }
        }
    }

    &[id="creditors"],
    &[id="payments"] {
        .dia__arrow {
            right: (-1) * ($diagram-arrow-width + $diagram-list-gutter + $diagram-list-border-size);
        }
    }
    &[id="creditors"] {
        %dia__arrow__body {
            animation-delay:
                1 * $diagram-arrow-animation-delay,
                1 * $diagram-arrow-animation-delay;
            background: {
                image: url("assets/images/arrow.svg#primary");
            }
        }
    }
    &[id="payments"] {
        %dia__arrow__body {
            animation-delay:
                2 * $diagram-arrow-animation-delay,
                2 * $diagram-arrow-animation-delay;
            background: {
                image: url("assets/images/arrow.svg#secondary");
            }
        }
    }

    &[id="bank-interface"],
    &[id="statements"] {
        .dia__arrow {
            left: (-1) * ($diagram-list-gutter + $diagram-list-border-size);
            transform-origin: 0 center;
        }
    }
    &[id="bank-interface"] {
        .dia__arrow {
            transform:
                rotate(
                    180deg -
                    rad-to-deg(nth($diagram-list-item-angle, 1))
                )
                scaleX(
                    ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                    $diagram-arrow-width
                );
        }
        %dia__arrow__body {
            animation-delay:
                3 * $diagram-arrow-animation-delay,
                3 * $diagram-arrow-animation-delay;
            background: {
                image: url("assets/images/arrow.svg#tertiary");
            }
        }
    }
    &[id="statements"] {
        .dia__arrow {
            &:nth-of-type(1) {
                transform:
                    rotate(
                        180deg +
                        rad-to-deg(nth($diagram-list-item-angle, 2))
                    )
                    scaleX(
                        (2 * $diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 2))) /
                        $diagram-arrow-width
                    );
            }
            &:nth-of-type(2) {
                transform:
                    rotate(
                        180deg +
                        rad-to-deg(nth($diagram-list-item-angle, 1))
                    )
                    scaleX(
                        ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                        $diagram-arrow-width
                    );
            }
            &:nth-of-type(3) {
                transform: rotate(180deg);
            }
            &:nth-of-type(4) {
                transform:
                    rotate(
                        180deg -
                        rad-to-deg(nth($diagram-list-item-angle, 1))
                    )
                    scaleX(
                        ($diagram-list-item-spacing / sin(nth($diagram-list-item-angle, 1))) /
                        $diagram-arrow-width
                    );
            }
        }
        %dia__arrow__body {
            animation-delay:
                4 * $diagram-arrow-animation-delay,
                4 * $diagram-arrow-animation-delay;
            background: {
                image: url("assets/images/arrow.svg#secondary");
            }
        }
    }
}

// Diagram arrow
// =============================================================================

.dia__arrow {
    @include acceleration;

    height: $diagram-arrow-height;
    margin-top: -0.5 * $diagram-arrow-height;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: $diagram-arrow-width;

    &::after {
        @extend %dia__arrow__body;
        content: "";
    }
}

// Diagram arrow body
// =============================================================================

%dia__arrow__body {
    background: {
        position: right center;
        repeat: no-repeat;
        size: cover;
    }
    display: block;
    height: $diagram-arrow-height;
}
